In [22]:
import pandas as pd
eu_red_list = pd.read_csv("cleaner copy.csv")

In [23]:
print(eu_red_list['useAndTrade'].value_counts())

not utilized    5157
utilized        1000
no info          181
extinct            5
Name: useAndTrade, dtype: int64

In [24]:
eu_red_list = eu_red_list[eu_red_list.useAndTrade!='no info']

In [25]:
print(eu_red_list['useAndTrade'].value_counts())

not utilized    5157
utilized        1000
extinct            5
Name: useAndTrade, dtype: int64

In [32]:
for column in eu_red_list.columns:
    print(column+":")
    print(eu_red_list[column].value_counts())
    print()

Unnamed: 0:
2047     1
741      1
665      1
6810     1
4763     1
        ..
7409     1
1266     1
11507    1
5364     1
2049     1
Name: Unnamed: 0, Length: 6162, dtype: int64

speciesGroup:
Bees                             1942
Grasshoppers_Locusts_Crickets    1075
Terrestrial_Molluscs              993
Marine_Fishes                     912
Saproxylic_Beetles                679
Freshwater_Molluscs               517
Freshwater_Fishes                  44
Name: speciesGroup, dtype: int64

taxonomicRankKingdom:
ANIMALIA    6162
Name: taxonomicRankKingdom, dtype: int64

taxonomicRankPhylum:
ARTHROPODA    3696
MOLLUSCA      1510
CHORDATA       956
Name: taxonomicRankPhylum, dtype: int64

taxonomicRankClass:
INSECTA               3696
GASTROPODA            1469
ACTINOPTERYGII         841
CHONDRICHTHYES         111
BIVALVIA                41
CEPHALASPIDOMORPHI       2
MYXINI                   2
Name: taxonomicRankClass, dtype: int64

taxonomicRankOrder:
HYMENOPTERA             1942
ORTHOPTERA              1075
STYLOMMATOPHORA          952
COLEOPTERA               679
LITTORINIMORPHA          403
PERCIFORMES              288
GADIFORMES                71
STOMIIFORMES              57
OSMERIFORMES              54
ANGUILLIFORMES            45
RAJIFORMES                44
HYGROPHILA                44
ARCHITAENIOGLOSSA         44
PLEURONECTIFORMES         42
SCORPAENIFORMES           39
MYCTOPHIFORMES            29
OPHIDIIFORMES             28
AULOPIFORMES              27
VENEROIDA                 26
CARCHARHINIFORMES         24
LOPHIIFORMES              21
SQUALIFORMES              21
SALMONIFORMES             18
SYNGNATHIFORMES           17
UNIONOIDA                 15
BELONIFORMES              13
TETRAODONTIFORMES         13
CYPRINIFORMES             11
GOBIESOCIFORMES           11
SORBEOCONCHA              10
CHIMAERIFORMES             9
NOTACANTHIFORMES           8
LAMNIFORMES                8
ACIPENSERIFORMES           8
ALLOGASTROPODA             8
CYCLONERITIMORPHA          7
CLUPEIFORMES               7
LAMPRIFORMES               6
BERYCIFORMES               6
SACCOPHARYNGIFORMES        5
HEXANCHIFORMES             4
ZEIFORMES                  4
STEPHANOBERYCIFORMES       3
CETOMIMIFORMES             3
MYXINIFORMES               2
ATHERINIFORMES             2
PETROMYZONTIFORMES         2
EUPULMONATA                1
SQUATINIFORMES             1
POLYMIXIIFORMES            1
GASTEROSTEIFORMES          1
MUGILIFORMES               1
BATRACHOIDIFORMES          1
ATELEOPODIFORMES           1
Name: taxonomicRankOrder, dtype: int64

taxonomicRankFamily:
APIDAE           561
ANDRENIDAE       455
MEGACHILIDAE     441
HYGROMIIDAE      351
TETTIGONIIDAE    348
                ...
MORONIDAE          1
MELANDRYIDAE       1
ATELEOPODIDAE      1
APOGONIDAE         1
PERISTEDIIDAE      1
Name: taxonomicRankFamily, Length: 281, dtype: int64

taxonomicRankGenus:
Andrena          413
Nomada           179
Lasioglossum     156
Osmia            101
Hoplitis         100
                ...
Paradrymadusa      1
Chondrostoma       1
Lymnaea            1
Lauria             1
Leuciscus          1
Name: taxonomicRankGenus, Length: 1373, dtype: int64

taxonomicRankSpecies:
gracilis       13
canariensis    12
bicolor        10
iberica         9
lusitanica      9
               ..
conspurcata     1
novacula        1
sakagamii       1
kirka           1
subauratus      1
Name: taxonomicRankSpecies, Length: 4728, dtype: int64

endemicToEurope:
No     3251
Yes    2911
Name: endemicToEurope, dtype: int64

europeanRegionalRedListCategory:
LC         2873
DD         1773
NT          579
VU          403
EN          326
CR          196
CR (PE)       7
EX            5
Name: europeanRegionalRedListCategory, dtype: int64

populationTrend:
Unknown       4146
Stable        1135
Decreasing     777
Increasing      99
0                5
Name: populationTrend, dtype: int64

useAndTrade:
not utilized    5157
utilized        1000
extinct            5
Name: useAndTrade, dtype: int64

In [31]:
eu_red_list_with_no_population_trend = eu_red_list.drop("populationTrend",axis=1, inplace=False)

In [37]:

temp = eu_red_list[eu_red_list.populationTrend != 'Unknown']
eu_red_list_without_unknown_population_trends = temp[temp.populationTrend != '0']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().